/* CSS declarations go here */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    background-color: #fafafa;
}


.quadro-jogos{
	margin: 1px;

	border: solid #686868 2px;
	border-radius: 10px;
}

.bola{
	margin: 10px;
	padding: 10px;
	color:#000;
	border-radius: 50%;
	min-width: 60px;
	text-align: center;
    background-color: #ccffcc;
}



a:link {
    text-decoration: none;
	color:#fff;
}

/* visited link */
a:visited {
    text-decoration: none;
	color:#fff;
}

/* mouse over link */
a:hover {
    text-decoration: none;
	color:#fff;
}

/* selected link */
a:active {
    text-decoration: none;
	color:#fff;

}

.a-sorteio{
    color: blue;
}

/* visited link */
.a-sorteio:visited {
    text-decoration: none;
	color:blue;
}

/* mouse over link */
.a-sorteio:hover {
    text-decoration: none;
	color:blue;
}

/* selected link */
.a-sorteio:active {
    text-decoration: none;
	color:blue;
}

.botao_teclado{
    color: #000;
}


ul.lista-numeros {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.lista-numeros li {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}



@font-face {
font-family: "Roboto";
src: local(Roboto Thin), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Thin.eot");
src: url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Thin.eot?") format("embedded-opentype"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Thin.woff") format("woff"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Thin.ttf") format("truetype");
font-weight: 200;
}

@font-face {
font-family: "Roboto";
src: local(Roboto Light), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Light.eot");
src: url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Light.eot?") format("embedded-opentype"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Light.woff2") format("woff2"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Light.woff") format("woff"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Light.ttf") format("truetype");
font-weight: 300;
}

@font-face {
font-family: "Roboto";
src: local(Roboto Regular), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Regular.eot");
src: url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Regular.eot?") format("embedded-opentype"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Regular.woff") format("woff"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Regular.ttf") format("truetype");
font-weight: 400;
}

@font-face {
font-family: "Roboto";
src: url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Medium.eot");
src: url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Medium.eot?") format("embedded-opentype"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Medium.woff") format("woff"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Medium.ttf") format("truetype");
font-weight: 500;
}

@font-face {
font-family: "Roboto";
src: url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Bold.eot");
src: url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Bold.eot?") format("embedded-opentype"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Bold.woff") format("woff"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Bold.ttf") format("truetype");
font-weight: 700;
}
