<template name="salvar_sorteio_template">

    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <h5>Salvar Sorteio</h5>
            </div>
            <form id="js-salvar-sorteio" class="col s12">

                <label>Data do Sorteio</label>
                <input type="date" name="dataSorteio" class="datepicker" placeholder="Clique para adicionar a data do sorteio" required>

                <label>Link do Sorteio</label>
                <input type="text" name="link" placeholder="Cole qui o link do sorteio do site da Mega">


                <div class="row">
        			<div class="col s12 center">
        					<Label> Informe os  Números do Sorteados</label>
        			</div>

                    <div id="div-escolher-numeros2">
            			{{#each numeros_bolas jogoArray}}
            				{{{htmlNum}}}
            			{{/each}}
                    </div>

        		</div>

                <div class="right">
        		    <button type="submit" class="btn waves-effect waves-light" name="action">Salvar Sorteio</button>
                </div>

            </form>
            {{> modal_adicionado_com_sucesso componente="Sorteio" link="salvar-sorteio"}}

        </div>
    </div>
</template>
