<template name="jogadores_lista">
	
			<h4>TODOS OS JOGADORES</h4>

			<ul class="collection">
				<li class="collection-item">
					<span class="title">Nome: Fulano de tal</span>
					<p>Numeros: 1 - 32 - 44 - 55 - 33 - 55 - 66 - 44 -33<br>
						número de acertos: 1
					</p>
				</li>

				<li class="collection-item">
					<span class="title">Nome: Fulano de tal</span>
					<p>Numeros: 1 - 32 - 44 - 55 - 33 - 55 - 66 - 44 -33<br>
						número de acertos: 1
					</p>
				</li>
				<li class="collection-item">
					<span class="title">Nome: Fulano de tal</span>
					<p>Numeros: 1 - 32 - 44 - 55 - 33 - 55 - 66 - 44 -33<br>
						número de acertos: 1
					</p>
				</li>
				<li class="collection-item">
					<span class="title">Nome: Fulano de tal</span>
					<p>Numeros: 1 - 32 - 44 - 55 - 33 - 55 - 66 - 44 -33<br>
						número de acertos: 1
					</p>
				</li>
				<li class="collection-item">
					<span class="title">Nome: Fulano de tal</span>
					<p>Numeros: 1 - 32 - 44 - 55 - 33 - 55 - 66 - 44 -33<br>
						número de acertos: 1
					</p>
				</li>

			</ul>
		
</template>