<template name="navbar">  

	<nav class="nav-extended">
		<div class="nav-wrapper">

			<a href="/" class="brand-logo" style="padding-left: 15px">Mega Bolão ST</a>
			
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				 {{> loginButtons}}
			</ul>



			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>


			<ul id="nav-mobile" class="right hide-on-med-and-down">

				<li><a href="/" class="waves-effect waves-light">Página Inicial</a></li>
				<li><a href="/adicionar-jogador" class="waves-effect waves-light">Adicionar Jogador</a></li>
				<li><a href="/lista-jogadores" class="waves-effect waves-light">Lista de Jogadores</a></li>
				<li><a href="/receber-pagamento" class="waves-effect waves-light">Receber Atraso</a></li>
			</ul>
			
			<ul class="side-nav" id="mobile-demo">
				<li><a href="/adicionar-jogador" class="waves-effect waves-light">Adicionar Jogador</a></li>
					<li class="divider"></li>
				<li><a href="/lista-jogadores" class="waves-effect waves-light">Lista de Jogadores</a></li>
					<li class="divider"></li>
				<li><a href="/receber-pagamento" class="waves-effect waves-light">Receber Atraso</a></li>
				
			</ul>

		</div>
	</nav>    

</template>