<template name="numeros_sorteados">

    <div class="row card-panel">
      <div class="center" style="padding: 5px">        
        <h5>NÚMEROS SORTEADOS</h5>      
      </div>

      <div class="grey lighten-5" style="padding: 10px">
        <span>
          01 - 02 - 03 - 04 - 05 - 06 - 07 - 08 - 09 - 10 - 11 - 12 - 13 - 14 - 15           
        </span>
        <span>
          16 - 17 - 18 - 19 - 20 - 21 - 22 - 23 - 24 - 60            
        </span>
      </div>

    </div>
</template>

<!--
<template name="numeros_sorteados">

    <div class="row card-panel">
      <div class="center" style="padding: 5px">        
        <h5>NÚMEROS SORTEADOS</h5>      
      </div>

      <div class="grey lighten-5" style="padding: 10px">
        <span>
          <strong class="bola">B:</strong>
          01 - 02 - 03 - 04 - 05 - 06 - 07 - 08 - 09 - 10 - 11 - 12 - 13 - 14 - 15           
        </span>
      </div>

      <div class="grey lighten-4" style="padding: 10px">
        <span>
          <strong class="bola">I:</strong>
          01 - 02 - 03 - 04 - 05 - 06 - 07 - 08 - 09 - 10 - 11 - 12 - 13 - 14 - 15           
        </span>
      </div>

      <div class="grey lighten-4" style="padding: 10px">
        <span>
          <strong class="bola">N:</strong>
          01 - 02 - 03 - 04 - 05 - 06 - 07 - 08 - 09 - 10 - 11 - 12 - 13 - 14 - 15           
        </span>
      </div>

      <div class="grey lighten-4" style="padding: 10px">
        <span>
          <strong class="bola">G:</strong>
          01 - 02 - 03 - 04 - 05 - 06 - 07 - 08 - 09 - 10 - 11 - 12 - 13 - 14 - 15           
        </span>
      </div>

      <div class="grey lighten-4" style="padding: 10px">
        <span>
          <strong class="bola">O:</strong>
          01 - 02 - 03 - 04 - 05 - 06 - 07 - 08 - 09 - 10 - 11 - 12 - 13 - 14 - 15           
        </span>
      </div>
      

    </div>
</template>

-->