<template name="receber_pagamento">

	<div class="container">
		<div class="row">
			<form>
				<div class="row">				
					<div class="col s12">				
						<div class="input-field">
							<i class="material-icons prefix">search</i>
							<input id="search_telefone" type="search" placeholder="Informe o TELEFONE do jogador" required>
							<i class="material-icons">close</i>
						</div>
					</div>

					<div class="col s12 center">
						<label>- OU - </label>

					</div>
					<div class="col s12">

						<div class="input-field">
							<i class="material-icons prefix">search</i>
							<input id="search_nome" type="search" placeholder="Informe o NOME do jogador" required>
							<i class="material-icons">close</i>
						</div>
					</div>
				</div>

			</form>
		</div>
	</div>

	Lista de jogadores
	

</template>