<template name="vencedores">
	
		<div class="card-panel" >
			<div class="col-md-12 text-uppercase text-center">
				<h4>vencedores</h4>
			</div>

			<div class="col-md-6"  style="color:#fff">
				<div class=" light-blue darken-2 center" style="padding: 5px">        
					MAIS PONTOS      
				</div>
				<div class=" light-blue darken-3" style="padding: 10px">
					<span class="bola" >
					10 - 11 - 22 -33 - 44 - 55 - 66 - 77 - 88 - 99           
				</span>

				</div>

				<div class="light-blue darken-4" style="padding: 5px">        
					Nome: Joao das Quantas
					<span class="right" style="font-size: 20px"><strong>Certas:10</strong></span>
				</div>    

			</div>


			<div class="col-md-6"  style="color:#fff">

				<div class="red darken-1 center" style="padding: 5px">        
					MENOS PONTOS      
				</div>

				<div class="red darken-2" style="padding: 10px">
					<span class="bola" >
					10 - 11 - 22 -33 - 44 - 55 - 66 - 77 - 88 - 99           
				</span>

				</div>

				<div class="red darken-3" style="padding: 5px">        
					Nome: Fulano
					<i class="right" style="font-size: 20px">Certas:0</i>
				</div>    

			</div>

		</div>


</template>