<template name="adicionar_jogador">

<div class="container">
    <div class="row center">
        {{#if nome}}
            <h5>Editar Jogador</h5>
        {{else}}
            <h5>Adicionar Jogador</h5>
        {{/if}}
    </div>

	<form id="js_salvar_jogador_form">


		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">perm_identity</i>
				<input id="icon_nome" type="text" name="nome" value="{{nome}}" class="validate">
				<label for="icon_nome">Nome</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field">
				<i class="material-icons prefix">phone</i>
				<input id="icon_telephone" type="tel" name="telefone" value="{{telefone}}" class="validate">
				<label for="icon_telephone">Telefone</label>
			</div>
		</div>

		<div class="row">


                {{#if jogoIsPago isPago}}
                    <input type="checkbox" id="statuPagamento" value="pago" checked="checked" disabled="disabled" name="isPago"/>
                {{else}}
                    <input type="checkbox" id="statuPagamento" value="pago" name="isPago"/>
                {{/if}}
                <label for="statuPagamento">Pago</label>




        </div>


		<div class="row">
			<div class="col s12 center">
				<a id="js-show-add-numeros" class="btn blue"> Adicionar Números do Jogador </a>
			</div>

            <div id="div-escolher-numeros">
    			{{#each numeros_bolas jogoArray}}
    				{{{htmlNum}}}
    			{{/each}}
            </div>

		</div>
        <div class="right">
		    <button type="submit"  class="btn waves-effect waves-light" name="action">Salvar</button>
        </div>

	</form>

</div>

</template>
