<template name="jogadores_lista">

    <div class="row center">
        <h5>Lista de Jogadores</h5>
    </div>

    <div class="container">
        <ul >
            {{#each jogadores}}
            <div class="row" style="background-color:{{pagoCor isPago}}">
                <li class="collection-item" style="padding-rght:10px">
                    <span class="title">Nome: {{nome}}</span>
                    <br>
                    <span>Pago: {{estaPago isPago}}</span>
                    <br>
                    Numeros: {{jogoArray}}
                    <br>
                    Número de acertos: {{pontos}}
                    <br>
                    <div class="center">
                        <a href="/jogadores/{{_id}}" class="waves-effect waves-light btn blue darken-2">Detalhes</a>
                    </div>
                </li>
            </div>
            {{/each}}
        </ul>
    </div>
</template>
