<template name="jogadores_detalhes">

<div id="{{_id}}">
    <div class="row center">
        <h4>{{nome}}</h4>
    </div>

    <div class="container">

        <div class="row">
            <div class="col s12">
                <h5>Pagp: {{isPago}}</h5>
            </div>

            <div class="col s12">
                <h5>Números Jogado: {{jogoArray}}</h5>
            </div>

            <div class="col s12 right">
                <a class="btn blue">Editar</a>
            </div>

        </div>

        <br>

        <div class="row center">
            <a id="js-excluir-jogador-botao" href="/lista-jogadores" class="btn red">Excluir</a>
        </div>

    </div>
</div>

</template>
