<template name="navbar">

	<nav class="nav-extended">

		<div class="nav-wrapper teal lighten-2">

			<a href="/" class="brand-logo" style="padding-left: 10px">Mega Bolão ST</a>

            {{#if isLoggedIn}}
			    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            {{/if}}
				<div class="right">

			 		<!-- Modal Trigger -->
                    {{#if isLoggedIn}}
                        <ul id="nav-mobile" class="hide-on-med-and-down" style="display:inline;">
                            {{> link_navbar}}
                        </ul>
                    {{/if}}


                    <div class="right">
                        {{#if isLoggedIn}}
                        <ul>
                            <li>{{getUsername}}</li>
                            <li><button class="btn waves-effect waves-light js-sair_button">Sair</button></li>
                        </ul>
                        {{/if}}

                        {{#if isNotLoggedIn}}
                        <!--
                            {{> loginButtons align="right"}}
                        -->
                        <button id="modal-trigger" data-target="modal1" class="btn">Login</button>

                        {{/if}}
                    </div>
				</div>


		</div>

        {{#if isLoggedIn}}
			<!-- Side bar menu escondido-->
			<ul class="side-nav teal lighten-2" id="mobile-demo">
                    	{{> link_navbar}}
                    <li class="divider"></li>
                    <li><button class="btn waves-effect waves-light js-sair_button">Sair</button></li>
			</ul>
        {{/if}}

	</nav>


  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
		<form id="js-modal-login" class="validate">
			<div class="modal-header center">
				Login
			</div>
			<div class="modal-content">
				<div class="input-field">
					<input id="telephone_login" type="tel" name="telefone" class="validate" required>
					<label for="telephone_login">Telefone</label>
				</div>

				<div class="input-field">
					<input id="password" type="password" class="validate" required>
					<label for="password" data-error="Usuário ou senha inválido" data-success="">Senha</label>
				</div>
			</div>

			<div class="modal-footer">
				<button type="submit" class="btn waves-effect waves-light" name="logar">Entrar</button>
			</div>
		</form>
  </div>


</template>



<template name="link_navbar">

        <li><a href="/salvar-sorteio" clas="waves-effect waves-light">Salvar Sorteio</a></li>
        <li><a href="/adicionar-jogador" class="waves-effect waves-light">Adicionar Jogador</a></li>
        <li><a href="/lista-jogadores" class="waves-effect waves-light">Lista de Jogadores</a></li>

</template>
