<template name="navbar">

	<nav class="nav-extended">

		<div class="nav-wrapper teal lighten-2">

			<a href="/" class="brand-logo" style="padding-left: 15px">Mega Bolão ST</a>


			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

				<div class="right">

			 		<!-- Modal Trigger -->

                    {{#if isLoggedIn}}
                        <ul>
                		    <li>{{getUsername}}</li>
                            <li><button class="btn waves-effect waves-light js-sair_button">Sair</button></li>
                        </ul>
                    {{/if}}

                    {{#if isLoggedIn}}
                    <ul id="nav-mobile" class="hide-on-med-and-down" style="display:inline;">
                        <li><a href="/" class="waves-effect waves-light">Página Inicial</a></li>
                        <li><a href="/adicionar-jogador" class="waves-effect waves-light">Adicionar Jogador</a></li>
                        <li><a href="/lista-jogadores" class="waves-effect waves-light">Lista de Jogadores</a></li>
                        <li><a href="/salvar-sorteio" clas="waves-effect waves-light">Salvar Sorteio</a></li>
                        <li><a href="/receber-pagamento" class="waves-effect waves-light">Receber Atrasado</a></li>
                    </ul>
                    {{/if}}

                    <div class="right">
                        {{#if isNotLoggedIn}}
                        <!--<button id="modal-trigger" data-target="modal1" class="btn">Login</button>-->
                        {{> loginButtons align="right"}}
                        {{/if}}
                    </div>
				</div>


		</div>

			<!-- Side bar menu escondido-->
			<ul class="side-nav teal lighten-2" id="mobile-demo">
                {{#if isLoggedIn}}
				<li><a href="/" class="waves-effect waves-light">Página Inicial</a></li>
					<li class="divider"></li>

				<li><a href="/sorteios" class="waves-effect waves-light">Sorteios</a></li>
					<li class="divider"></li>

				<li><a href="/adicionar-jogador" class="waves-effect waves-light">Adicionar Jogador</a></li>
					<li class="divider"></li>
				<li><a href="/lista-jogadores" class="waves-effect waves-light">Lista de Jogadores</a></li>
					<li class="divider"></li>
				<li><a href="/receber-pagamento" class="waves-effect waves-light">Receber Atrasado</a></li>
                {{/if}}
                    <li class="divider"></li>
                    <li><button class="btn waves-effect waves-light js-sair_button">Sair</button></li>
			</ul>


	</nav>


  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
		<form id="js-modal-login">
			<div class="modal-header center">
				Login
			</div>
			<div class="modal-content">
				<div class="input-field">
					<input id="telephone_login" type="tel" name="telefone" class="validate">
					<label for="telephone_login">Telefone</label>
				</div>

				<div class="input-field">
					<input id="password" type="password" class="validate">
					<label for="password">Senha</label>
				</div>
			</div>

			<div class="modal-footer">
				<button type="submit" class="btn waves-effect waves-light" name="logar">Entrar</button>
			</div>
		</form>
  </div>


</template>
