<template name="numeros_sorteados">

    <div class="row card-panel">

      <div class="center" style="padding: 5px">
        <h5>NÚMEROS SORTEADOS</h5>
      </div>

      <!-- {{todosNumerosSorteados}} -->
      <div>
                {{> lista_numeros arrayNumeros=todosNumerosSorteados.todosNumerosSorteados size="20"}}
      </div>
    </div>

    <div class="container">
        <div class="right">
            <button id="js-show-hid-sorteios" class="btn">Mostrar Sorteios</button>
        </div>

            <table id="tabela-sorteios" class="striped">
                <thead>
                    <tr>
                        <th data-field="name">Data do Sorteio</th>
                        <th data-field="name">Números Sorteados</th>
                        <th data-field="name">Link do Sorteios</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each sorteiosLista}}
                        <tr id="{{_id}}">
                            <td>
                                {{dataSorteio}}
                                <div>
                                    {{#if isLoggedIn}}
                                    <a href="/" id="js-exluir-sorteio-button" class="btn flat">Excluir</a>
                                    {{/if}}
                                </div>
                            </td>
                            <td>
                                {{numerosSorteados}}

                            </td>
                            <td>
                                <a href="{{linkSorteio}}" class="a-sorteio" target="blank">Sorteio no Site da Mega</a>
                            </td>
                        </tr>

                    {{/each}}

                </tbody>
            </table>



    </div>


</template>
