<template name="numeros_sorteados">

    <div class="row card-panel">

      <div class="center" style="padding: 5px">
        <h5>NÚMEROS SORTEADOS</h5>
      </div>

      <div class="grey lighten-5" style="padding: 10px">
        <span style="font-size:20px">

            <!-- {{todosNumerosSorteados}} -->
            {{#each todosNumerosSorteados.todosNumerosSorteados}}
                    <a class="btn-floating disabled center botao_teclado">{{this}}</a>
            {{/each}}
        </span>

      </div>
    </div>

    <div class="container">
        <div class="right">
            <button id="js-show-hid-sorteios" class="btn">Mostrar Sorteios</button>
        </div>

            <table id="tabela-sorteios" class="striped">
                <thead>
                    <tr>
                        <th data-field="name">Data do Sorteio</th>
                        <th data-field="name">Números Sorteados</th>
                        <th data-field="name">Link do Sorteios</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each sorteiosLista}}
                        <tr>
                            <td>
                                {{dataSorteio}}
                            </td>
                            <td>
                                {{numerosSorteados}}
                            </td>
                            <td>
                                <a href="{{linkSorteio}}" class="a-sorteio" target="blank">Sorteio no Site da Mega</a>
                            </td>
                        </tr>

                    {{/each}}

                </tbody>
            </table>



    </div>


</template>
